parameters:
parameters:
    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt
    
    imagine_source_root:  %kernel.root_dir%/../web/isource
    imagine_web_root:     %kernel.root_dir%/../web
    imagine_cache_prefix: im/v1
